Repository team-peekabook/Peekabook-iOS, pull requests merged in 2023-04, with the labels that each got.

#201 [Feat] #195 - 로그인뷰 레이아웃
  Peekabook/Peekabook.xcodeproj/project.pbxproj
  Peekabook/Peekabook/Application/SceneDelegate.swift
  Peekabook/Peekabook/Global/Literals/ImageLiterals.swift
  Peekabook/Peekabook/Global/Literals/StringLiterals.swift
  Peekabook/Peekabook/Global/Resources/Assets.xcassets/icons/icn_kakao_login.imageset/Contents.json
  Peekabook/Peekabook/Global/Resources/Assets.xcassets/icons/icn_kakao_login.imageset/kakao_login.png
  Peekabook/Peekabook/Presentation/LoginVC.swift
Labels: 두영 🤎, Design 🎨

#202 [Feat] #185 - 프로필 수정뷰 구현
  Peekabook/Peekabook.xcodeproj/project.pbxproj
  Peekabook/Peekabook/Application/SceneDelegate.swift
  Peekabook/Peekabook/Global/Literals/ImageLiterals.swift
  Peekabook/Peekabook/Global/Literals/StringLiterals.swift
  Peekabook/Peekabook/Global/Resources/Assets.xcassets/icons/icn_edit_profileImage.imageset/Contents.json
  Peekabook/Peekabook/Global/Resources/Assets.xcassets/icons/icn_edit_profileImage.imageset/btn_edit_profile.png
  Peekabook/Peekabook/Global/Resources/Assets.xcassets/icons/icn_edit_profileImage.imageset/btn_edit_profile@2x.png
  Peekabook/Peekabook/Global/Resources/Assets.xcassets/icons/icn_edit_profileImage.imageset/btn_edit_profile@3x.png
  Peekabook/Peekabook/Info.plist
  Peekabook/Peekabook/Presentation/MyPage/VC/EditMyPageVC.swift
  Peekabook/Peekabook/Presentation/MyPage/VC/MyPageVC.swift
  Peekabook/Peekabook/Presentation/MyPage/Views/MyPageHeaderView.swift
  Peekabook/Peekabook/Presentation/UIComponents/CustomNavigationBar.swift
  Peekabook/Peekabook/Presentation/UIComponents/CustomTextView.swift
Labels: 인영 💛, Design 🎨

#205 [Hotfix] #204- 루트뷰수정
  Peekabook/Peekabook.xcodeproj/project.pbxproj
  Peekabook/Peekabook/Application/SceneDelegate.swift
  Peekabook/Peekabook/Presentation/Auth/LoginVC.swift
  Peekabook/Peekabook/Presentation/MyPage/VC/EditMyProfileVC.swift
  Peekabook/Peekabook/Presentation/MyPage/VC/MyPageVC.swift
Labels: 인영 💛, Fix ✨

#207 [Feat] #203 - 애플 로그인
  Peekabook/Peekabook.xcodeproj/project.pbxproj
  Peekabook/Peekabook.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  Peekabook/Peekabook/Network/API/AuthAPI.swift
  Peekabook/Peekabook/Network/DTO/Auth/SocialLoginRequest.swift
  Peekabook/Peekabook/Network/Router/AuthRouter.swift
  Peekabook/Peekabook/Presentation/Auth/LoginVC.swift
  Peekabook/Peekabook/Presentation/Proposal/VC/ProposalConfirmPopUpVC.swift
  Peekabook/Peekabook/Presentation/Proposal/VC/ProposalVC.swift
  Peekabook/Peekabook/Presentation/UIComponents/CustomPopUpView.swift
Labels: 두영 🤎, API 📡

#213 [Feat] #203 - 애플로그인 토큰값 전달 코드 추가
  Peekabook/Peekabook/Presentation/Auth/LoginVC.swift
Labels: 두영 🤎, API 📡

#215 [Feat] #210 - 친구신고/차단 API
  Peekabook/Peekabook.xcodeproj/project.pbxproj
  Peekabook/Peekabook/Global/Literals/StringLiterals.swift
  Peekabook/Peekabook/Network/API/FriendAPI.swift
  Peekabook/Peekabook/Network/DTO/Friend/SearchUserResponse.swift
  Peekabook/Peekabook/Network/DTO/Friend/UserReportRequest.swift
  Peekabook/Peekabook/Network/Router/FriendRouter.swift
  Peekabook/Peekabook/Presentation/BookShelf/VC/BlockPopUpVC.swift
  Peekabook/Peekabook/Presentation/BookShelf/VC/BookShelfVC.swift
  Peekabook/Peekabook/Presentation/BookShelf/VC/DeclarePopUpVC.swift
  Peekabook/Peekabook/Presentation/BookShelf/VC/UnfollowPopUpVC.swift
  Peekabook/Peekabook/Presentation/UIComponents/CustomPopUpView.swift
  Peekabook/Peekabook/Presentation/UserReport/VC/ReportPopUpVC.swift
  Peekabook/Peekabook/Presentation/UserReport/VC/ReportVC.swift
  Peekabook/Peekabook/Presentation/UserReport/Views/ReportTVC.swift
Labels: 두영 🤎, API 📡

#220 [Feat] #211 - 카카오로그인구현
  Peekabook/Peekabook.xcodeproj/project.pbxproj
  Peekabook/Peekabook.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  Peekabook/Peekabook/Application/AppDelegate.swift
  Peekabook/Peekabook/Application/SceneDelegate.swift
  Peekabook/Peekabook/Info.plist
  Peekabook/Peekabook/Presentation/Auth/LoginVC.swift
  Peekabook/Peekabook/Presentation/Auth/SignUpVC.swift
Labels: 인영 💛, API 📡

#219 [Feat] #218 - 회원가입 API
  Peekabook/Peekabook.xcodeproj/project.pbxproj
  Peekabook/Peekabook/Network/API/AuthAPI.swift
  Peekabook/Peekabook/Network/API/UserAPI.swift
  Peekabook/Peekabook/Network/DTO/Auth/SignUpRequest.swift
  Peekabook/Peekabook/Network/DTO/Auth/SocialLoginResponse.swift
  Peekabook/Peekabook/Network/Foundation/NetworkConstant.swift
  Peekabook/Peekabook/Network/Router/AuthRouter.swift
  Peekabook/Peekabook/Network/Router/UserRouter.swift
  Peekabook/Peekabook/Presentation/Auth/LoginVC.swift
  Peekabook/Peekabook/Presentation/Auth/SignUpVC.swift
Labels: 두영 🤎, API 📡

#224 [Feat] #221 - 회원탈퇴 API
  Peekabook/Peekabook.xcodeproj/project.pbxproj
  Peekabook/Peekabook/Global/Literals/ImageLiterals.swift
  Peekabook/Peekabook/Global/Resources/Assets.xcassets/icons/icn_kakao_login.imageset/kakao_login.png
  Peekabook/Peekabook/Global/Resources/Assets.xcassets/icons/icn_login_apple.imageset/Contents.json
  Peekabook/Peekabook/Global/Resources/Assets.xcassets/icons/icn_login_apple.imageset/bt_login_apple.png
  Peekabook/Peekabook/Global/Resources/Assets.xcassets/icons/icn_login_apple.imageset/bt_login_apple@2x.png
  Peekabook/Peekabook/Global/Resources/Assets.xcassets/icons/icn_login_apple.imageset/bt_login_apple@3x.png
  Peekabook/Peekabook/Global/Resources/Assets.xcassets/icons/icn_login_kakao.imageset/Contents.json
  Peekabook/Peekabook/Global/Resources/Assets.xcassets/icons/icn_login_kakao.imageset/bt_login_kakao.png
  Peekabook/Peekabook/Global/Resources/Assets.xcassets/icons/icn_login_kakao.imageset/bt_login_kakao@2x.png
  Peekabook/Peekabook/Global/Resources/Assets.xcassets/icons/icn_login_kakao.imageset/bt_login_kakao@3x.png
  Peekabook/Peekabook/Network/API/BlockAPI.swift
  Peekabook/Peekabook/Network/API/MyPageAPI.swift
  Peekabook/Peekabook/Network/Router/BlockRouter.swift
  Peekabook/Peekabook/Network/Router/MyPageRouter.swift
  Peekabook/Peekabook/Presentation/Auth/VC/LoginVC.swift
  Peekabook/Peekabook/Presentation/MyPage/VC/DeleteAccountPopUpVC.swift
Labels: 두영 🤎, API 📡

#230 [Feat] #228 - 사용자 정보 조회 API
  Peekabook/Peekabook.xcodeproj/project.pbxproj
  Peekabook/Peekabook/Network/API/MyPageAPI.swift
  Peekabook/Peekabook/Network/DTO/MyPage/getAccountResponse.swift
  Peekabook/Peekabook/Network/Router/MyPageRouter.swift
  Peekabook/Peekabook/Presentation/MyPage/VC/EditMyProfileVC.swift
  Peekabook/Peekabook/Presentation/MyPage/VC/MyPageVC.swift
Labels: 두영 🤎, API 📡

#226 [Feat]#225 - 자동로그인구현
  Peekabook/Peekabook.xcodeproj/project.pbxproj
  Peekabook/Peekabook/Application/AppDelegate.swift
  Peekabook/Peekabook/Application/SceneDelegate.swift
  Peekabook/Peekabook/Global/Literals/UserDefaultKeyList.swift
  Peekabook/Peekabook/Network/Foundation/UserDefaultsKey.swift
  Peekabook/Peekabook/Network/Foundation/UserManager.swift
  Peekabook/Peekabook/Presentation/Auth/VC/LoginVC.swift
  Peekabook/Peekabook/Presentation/Auth/VC/SignUpVC.swift
  Peekabook/Peekabook/Presentation/MyPage/VC/DeleteAccountPopUpVC.swift
Labels: 인영 💛, API 📡

#229 [Feat] #217- 닉네임 중복 검사 서버 연결
  Peekabook/Peekabook.xcodeproj/project.pbxproj
  Peekabook/Peekabook/Network/API/UserAPI.swift
  Peekabook/Peekabook/Network/DTO/User/CheckDuplicateRequest.swift
  Peekabook/Peekabook/Network/DTO/User/CheckDuplicateResponse.swift
  Peekabook/Peekabook/Network/Router/UserRouter.swift
  Peekabook/Peekabook/Presentation/Auth/VC/SignUpVC.swift
Labels: 인영 💛, API 📡
